# Python Data Structures and Boolean
Boolean
Boolean and Logical Operators
Lists
Comparison operators
Dictionaries
Tuples
Sets

Boolean Variables
Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [2]:
my_str='sriram'

In [4]:
my_str.istitle()

False

In [5]:
my_str='Sriram'
my_str.istitle()

True

In [6]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H

True
True
False
True
False
False
False
False
False

In [7]:
True and True

True

In [8]:
True and False

False

In [9]:
True or False

True

In [10]:
True or True

True

In [11]:
str_example='Hello World'
my_str='Krish'

In [12]:
my_str.isalpha() or str_example.isnum()

True

Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [14]:
type([])

list

In [15]:
lst_example=[]

In [16]:
type(lst_example)

list

In [17]:
lst=list()

In [18]:
type(lst)

list

In [36]:
lst=['Mathematics', 'chemistry', 100, 200, 300, 204]
lst1=('sri','ram')
lst
lst1

('sri', 'ram')

In [35]:
lst
len(lst)
lst

['Mathematics', 'chemistry', 100, 200, 300, 204]

In [21]:
type(len)

builtin_function_or_method

In [22]:
type(lst)

list

# Append

In [23]:
#.append is used to add elements in the list
lst.append("Kumar")

In [37]:
lst.append(["Roa","Bala"])

In [25]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Kumar', ['Roa', 'Bala']]

# Insert

In [26]:
lst.insert(2,"rth")

In [27]:
lst

['Mathematics',
 'chemistry',
 'rth',
 100,
 200,
 300,
 204,
 'Kumar',
 ['Roa', 'Bala']]

In [38]:
lst.append(["Hello","World"])

In [39]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 ['Roa', 'Bala'],
 ['Hello', 'World']]

# Extend Method

In [40]:
lst=[1,2,3,4,5,6]

In [43]:
lst.extend([8,9])# it will add in the last of the list

In [44]:
lst

[1, 2, 3, 4, 5, 6, 8, 9, 8, 9]

# Various Operations that we can perform in List

In [45]:
lst=[1,2,3,4,5]

In [46]:
sum(lst)

15

In [47]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [51]:
lst.pop()# from back it will pop

4

In [49]:
lst

[1, 2, 3, 4]

In [50]:
lst.pop(0)

1

In [53]:
lst #after pop (pop means taking out of the list)

[2, 3]

# count():Calculates total occurrence of given element of List

In [54]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [61]:
lst.index(4,1,5)

4

In [62]:
max(lst)

5

In [64]:
min(lst)

1

# SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [65]:
set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [66]:
set_var={1,2,3,4,3}

In [67]:
set_var

{1, 2, 3, 4}

In [70]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Hitman', 'Avengers'}

set

In [71]:
set_var.add("Hulk")

In [72]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'IronMan'}

In [77]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [74]:
set2.intersection_update(set1)

In [75]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [78]:
set2.difference(set1)

{'Hulk2'}

# if want the update the set in any another set we use intersection_update,difference_update it will update the result in that set

# Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [80]:
dic={}

In [81]:
type(dic)

dict

In [82]:
type(dict())

dict

In [83]:
set_ex={1,2,3,4,5}

In [84]:
type(set_ex)

set

In [86]:
my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}# dict means key value pairs

In [87]:
type(my_dict)

dict

In [88]:

my_dict['Car1']

'Audi'

In [89]:
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [90]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [91]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [92]:
my_dict['car4']='Audi 2.0'

In [93]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')
('car4', 'Audi 2.0')

In [94]:
my_dict['Car1']='MAruti'

In [95]:
for x in my_dict.items():
    print(x)

('Car1', 'MAruti')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')
('car4', 'Audi 2.0')

# Nested Dictionary

In [98]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [99]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [100]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [101]:
print(car_type['car1']['Mercedes'])

1960

# Tuples

In [102]:
## create an empty Tuples

my_tuple=tuple()

In [103]:
type(my_tuple)

tuple

In [104]:
my_tuple=()

In [105]:
type(my_tuple)

tuple

In [110]:
my_tuple=("Krish","Ankur","John")

In [117]:
my_tuple=('Hello','World')

In [111]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Krish', 'Ankur', 'John')

In [119]:
my_tuple[0]='hi'

TypeError: 'tuple' object does not support item assignment

In [112]:
## Inbuilt function
my_tuple.count('Krish')

1

In [114]:
my_tuple.index('John')

2

In [ ]:
## in tuple we are not able to change values and in set we are able to change values
my tupe